.homePage{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  align-content: center;
  margin-top: 3rem;
  }
  .hotelContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 20rem;
  border: 2px solid black;
  
  }
.ButtonContainerHomePage{
  display: flex;
  justify-content: center;
  align-items: center;
}


  button{
    width: 6rem;
    margin: 1rem;
  }
.navBar {
  background-color: red;
  width: 100%;
}

.hotelImage {
  width:6rem;
}

