/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');


:root {
  --green: #59A68A;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}